Package: com.peterdev.libpddokdo
Name: libPDDokdo
Version: 1.3.2
Architecture: iphoneos-arm
Description: An awesome library to get current weather which provides by iOS Weater.app easily.
Maintainer: Soongyu Kwon
Author: Soongyu Kwon
Section: Development
